<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Member Since</th>
    
      {{#if showSubscriberInfo}}
          <th>Subscriber Since</th>
          <th>Expires</th>
      {{/if}}


    </tr>
  </thead>

  <tbody>
    {{#each customers as |customer|}}
      <tr>
        <td> {{customer.name}} </td>
        <td> {{customer.location}} </td>
        <td> {{moment-format customer.signupDate "MM/DD/YYYY"}} </td>

        {{#if showSubscriberInfo}}

          <td> {{moment-format customer.subscriptionDate "MM/DD/YYYY"}} </td>
          <td> {{moment-from-now customer.expirationDate}} </td>

          <td> 
            {{ subscribe-button class="pull-right" text="Unsubscribe" customer=customer toggleSubscribe=(action this.attrs.toggleSubscribe) }} 
          </td>

        {{else}}

          <td> {{ subscribe-button class="pull-right" text="Subscribe" customer=customer toggleSubscribe=(action this.attrs.toggleSubscribe) }} </td>

        {{/if}}
      
        <td> {{ delete-customer customer=customer delete=(action this.attrs.delete) }} </td>

      </tr>
    {{/each}}
  </tbody>
</table>
